.party-service-icon{
    cursor: pointer;
}
.menu-wrapper{
    cursor: pointer;
}
.trip-item-option{
    max-width: 250px;
    word-break: break-all;
}
.alert-message{
    position: absolute;
    width: auto;
    top:0px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0%) 
}
.custome-request-input, .custome-input{
    position: relative;
}
.result-items-list{
    position: absolute;
    width: 100%;
    z-index: 2;
}
.input-prompt{
    position: absolute;
    font-size: 12px;
    left: 5px;
    color: #8c8c8c;
}
.list-item{
    cursor: pointer;
}
.list-item:hover{
    filter: brightness(.97);
}
.trip-text-area{
    resize: none    ;
}